{% macro header(columns, class='') %}
    <thead class="{{ class }}">
    <tr>
        {% for data in columns %}
            <td>{{ data }}</td>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}


{% macro footer(columns, class='') %}
    <tfoot class="{{ class }}">
    <tr>
        {% for data in columns %}
            <td>{{ data }}</td>
        {% endfor %}
    </tr>
    </tfoot>
{% endmacro %}

{% macro rows(rows, class='') %}
    <tbody class="{{ class }}">
    {% for id, row in rows %}
        <tr>
            {% for key, data in row %}
                <td>{{ data }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
{% endmacro %}