{% extends 'front/layouts/app.twig' %}

{% import '_/macro_forms.twig' as forms %}

{% block CONTENT %}
    <div class="column col-4 col-mr-auto">
        <h1>{{ title|raw }}</h1>
        <form action="{{ path_for('front.login.post') }}" method="post">
            {{ forms.hidden('appId', application) }}
            {{ forms.hidden('userip', userip) }}
            {{ forms.input('пользователь', 'username', username) }}
            {{ forms.input('пароль', 'password', password, 'password') }}
            {{ forms.submit('войти', 'login') }}
        </form>
    </div>
{% endblock %}